 #wheel1 {
    animation-name: spin1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	margin-top: 50px;
 
    z-index: 100;
}
.wheel1{
	
	
}
 
@keyframes spin1 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
#wheel2 {
	position: fixed;
    animation-name: spin2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
	margin-top: 50px;
	left: 45%;
	top: 30%;
}
@keyframes spin2 {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}
.link1{
	position:fixed;
	left: 10%;
	top: 10%;
	
	
}
.link2{
	position:fixed;
	right: 10%;
	top: 10%;
	
	
}

.link3{
	position:fixed;
	left: 10%;
	bottom: 10%;
	
	
}
.link4{
	position:fixed;
	right: 10%;
	bottom: 10%;
	
	
}